.info_cards{
    background-color: rgb(44 56 61);
    overflow: hidden;
}

.info_cards>div{
    width: 23vw; 
    /* padding-left: 4.5vw; */
}

@media (width<=600px) {
    .info_cards>div{
        font-size: 15px;
    }
    .info_cards{
        flex-wrap:wrap;
    }
}

