.intro_para_show{
    position: relative;
    width: fit-content;
    height: fit-content;
    padding-top: 20vh;
    color: azure;
    filter: blur(0);
    margin-top: 0%;
    
}

.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

  .satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .intro_para_hidden{
    filter:blur(4px);
    transition: all 2.5s;
    margin-top: 100%;
  }