.navbar>a{
    position:relative;
    color: azure;
    font-size: 2.4vh;
}

.navbar{
  background-color: inherit;
}

.navbar>a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0px;
    bottom: -5px;
    background-color: rgb(192 132 252);
    left: 0px;
}

.navbar>a:hover ,.navbar>a:hover::after{
    width: 100%;
    cursor: pointer;
    transition: all 0.27s;
}


.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .pt-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .pt-sans-regular-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .pt-sans-bold-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
  }


  .main_div{
    margin-top: -35px;
  }


  
.selected::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -5px;
    background-color: rgb(0, 0, 0);
    left: 0px;
}